body {
    display: grid;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    min-height: 100vh;
}

.margin-bottom-lg {
    margin-bottom: 12px;
}

.margin-right-md {
    margin-right: 8px;
}

.footer {
    padding: 48px;
}

@media screen and (min-width: 600px) {
    body {
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
    }

    .masthead, .footer {
        grid-column: span 9;
    }

    .main-content {
        grid-column: 3/9;
        padding: 24px;
    }

    .side-bar {
        grid-column: 2/3;
        padding-top: 24px;
        width: 185px;
    }

    .main-page-panels {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
    }

    .main-page-panels .new-plugins {
        grid-column: 1 / span 3;
    }

    .main-page-panels .most-downloaded {
        grid-column: 4 / span 3;
    }

    .main-page-panels .recent-updates {
        grid-column: 7 / span 3;
    }
}

@media screen and (max-width: 600px) {
    body {
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
    }

    .masthead, .footer {
        grid-column: span 9;
    }

    .main-content {
        grid-column: 3/9;
        padding: 24px;
    }

    .side-bar {
        grid-column: 2/3;
        padding-top: 24px;
    }
}